<h3>Add New Item</h3>

<div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Brand</label>
            <input class="form-control" formControlName="Brand">
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" formControlName="Name">
        </div>
        <div class="mb-3">
            <label class="form-label">Item Type</label>
            <select class="form-select" name="" id="ItemType" formControlName="ItemType">
                <option value="">---Select an item type---</option>
                @for (item of itemTypesList; track $index)
                {
                <option [value]="item"> {{item}} </option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" formControlName="Description">

            </textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" formControlName="Price">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>