<h3>{{title}}</h3>

<div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Brand</label>
            <input class="form-control" formControlName="brand">
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" formControlName="name">
        </div>
        <div class="mb-3">
            <label class="form-label">Item Type</label>
            <select class="form-select" name="" id="itemType" formControlName="itemType">
                <option value="">---Select an item type---</option>
                @for (item of itemTypesList; track $index)
                {
                <option [value]="item"> {{item}} </option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" formControlName="description">

            </textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" formControlName="price">
        </div>
        <div class="mb-3">
            <label>Upload File:</label>
            <app-file-upload (fileSelected)="onFileReceived($event)"></app-file-upload>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>