<h3>Details of Item no. {{item.id}}</h3>

<div class="container">
    <div class="row">
        <div class="col-6">Brand:</div>
        <div class="col-6">{{item.brand}}</div>
    </div>
    <div class="row">
        <div class="col-6">Name:</div>
        <div class="col-6">{{item.name}}</div>
    </div>
    <div class="row">
        <div class="col-6">Item Type:</div>
        <div class="col-6">{{item.itemType}}</div>
    </div>
    <div class="row">
        <div class="col-6">Description:</div>
        <div class="col-6">{{item.description}}</div>
    </div>
    <div class="row">
        <div class="col-6">Price:</div>
        <div class="col-6">{{item.price}}</div>
    </div>   
</div>