@if (AudioItems.length==0) {
    <h3>No Items to display!</h3>
}
@else {
    <table class="table table-striped table-hover table-bordered border-primary">
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Brand</th>
            <th scope="col">Item Type</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>    
            <th></th>        
        </thead>        
    @for (item of AudioItems; track $index) {
<tr>
    <td>{{item.id}} </td>
    <td>{{item.brand}} </td>
    <td>{{item.itemType}} </td>
    <td>{{item.name}} </td>
    <td>{{item.description}} </td>
    <td>{{item.price}} </td>
    <td><button class="btn btn-primary" (click)="openDetailsModal(item.id)">Details</button>  </td>
    <td><a href="#" [routerLink]="['/additem/', item.id]" routerLinkActive="router-link-active" class="link-primary" >Edit</a></td>
    <td><button class="btn btn-danger" (click)="openConfirmModal(item.id)">Remove</button></td>
</tr>
    }
</table>
}